{{ define "main" }}

<div class="grid-cols-12 gap-12 md:gap-16 md:grid">
    <div class="flex flex-col col-span-4 gap-7">
        <div class="text-base leading-normal prose dark:prose-invert">
            <h2 class="font-bold text-md">My blog</h2>
            <!-- <p class="">
                I've been writing about the  ideas and wild tangents that I'm passionate about for years. This is
                where my ravings and ruminations live today.
            </p>
            <p class="">
                Some of these posts are quite old, so if you're reading them and don't feel like you quite agree with
                me, I probably don't agree with me either.
            </p>
            <p>
                Happy reading!
            </p> -->

        </div>

        <div class="py-5 border-t border-b border-dashed border-1 border-neutral-400">
            <h2 class="mb-1 text-base font-bold text-neutral-800 dark:text-neutral-200">Subscribe</h2>
            <p class="mb-3 text-base prose dark:prose-invert">You can find my RSS feed <a href="/index.xml"
                    class="text-">here</a>.</p>

            <p class="mb-3 text-base prose dark:prose-invert">You can also get the latest from my blog delivered
                directly to your inbox. No spam, promise!</p>
            <div class="h-8 mb-2">
                {{- partial "subscribe.html" . -}}
            </div>
        </div>
    </div>
    <div class="col-span-8">
        {{ if .Data.Pages }}
        <section>
            {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
            {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
            <h2 class="mb-1 text-xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
                {{ .Key }}
            </h2>
            <hr class="mb-6 border-dotted w-36 border-neutral-400" />
            {{ range .Pages }}
            <article class="max-w-full mb-8">
                <header>
                    <a class="mt-0 mb-1 text-2xl font-semibold text-neutral-900 dark:text-neutral"
                        href="{{ .RelPermalink }}">
                        {{ .Title | emojify }}
                    </a>

                    <div class="py-2 text-base font-medium text-neutral-600 dark:text-neutral-200">
                        {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
                    </div>
                </header>

                
            </article>
            {{ end }}
            {{ end }}
            {{ else }}
            {{ range (.Paginate .Pages).Pages }}
            {{ partial "article-link.html" . }}
            {{ end }}
            {{ end }}
        </section>
        {{ partial "pagination.html" . }}
        {{ else }}
        <section class="mt-10 prose dark:prose-invert">
            <p class="py-8 border-t">
                <em>{{ i18n "list.no_articles" | emojify }}</em>
            </p>
        </section>
        {{ end }}

    </div>
</div>

{{ end }}