<form name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">

    <div class="flex flex-row md:block">
        <input
            class="flex-grow h-12 p-4 mr-1 bg-transparent rounded-md outline outline-1 outline-neutral-300 dark:outline-neutral-600 md:w-80 md:w-96"
            name="email" id="email" type="email" placeholder="Your email" />
        <input class="hidden" name="bot-field"
            placeholder="This is a spam detector, don't fill this out if you're a human." />
        <button type="submit"
            class="md:inline-block h-12 !rounded-sm !bg-transparent px-4 py-1 dark:text-neutral-300 text-neutral-600 !no-underline">
            {{ partial "icon.html" "check" }}
        </button>
    </div>

</form>