<div class="flex flex-col items-center justify-center gap-6 mt-6 mb-12 md:flex-row md:gap-12">
    <div class="flex flex-col items-center gap-2">
        {{ with .Site.Author.image }}
        {{ $authorImage := resources.Get . }}
        {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img class="rounded-full max-h-40 " alt="{{ $.Site.Author.name | default " Author" }}"
            src="{{ $authorImage.RelPermalink }}" />
        {{ end }}
        {{ end }}
    </div>
    
    <div class="flex flex-col items-center md:items-start">
        <div class="mb-3 text-center md:flex-grow md:text-left">
            <h1 class="mb-2 text-4xl font-bold">Hi, I'm Arjun Sharma 👋</h1>
            <p class="text-xl font-medium leading-relaxed prose dark:prose-invert">I'm an 18-year-old student living in Delhi NCR, India. If you're interested in reading my <a href="/blog">blog</a>, checking out things I've <a href="/projects">worked on</a>, or learning <a href="/resume.pdf">more</a> <a href="/about">about me</a>, you've come to the right place.</p>
        </div>
        <div class="">
            {{ with .Site.Author.links }}
            <div class="flex flex-wrap gap-2 text-neutral-400 dark:text-neutral-500">
                {{ range $links := . }}
                {{ range $name, $url := $links }}
                <a class="transition-transform scale-125 hover:scale-150 hover:text-primary-700 dark:hover:text-primary-400"
                    style="will-change:transform;" href="{{ $url }}" target="_blank"
                    aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial "icon.html" $name
                    }}</a>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="mb-3 md:mb-15">
    {{ partial "recent-articles.html" . }}
</div>

<h1 class="mb-12 font-bold text-black text-md">
    <a href="/blog">Read more posts
        <span class="ml-1 dark:fill-neutral-200">
            {{ partial "icon.html" "arrow-right-solid" }}
        </span>
    </a>
</h1>


<div>
    <h3 class="mb-1 text-xl font-extrabold">Subscribe to my mailing list</h3>
    <p class="mb-4 text-neutral-600 dark:text-neutral-300">Get my latest blog posts delivered directly to your inbox. No
        spam, I promise!</p>
    {{- partial "subscribe.html" . -}}
</div>